                                  /* Resetting some default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                                          /* Body */

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /*  line-height: 1.6; */
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

                                          /* Header */

header {
    background-color: #101623;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 35px;
    padding-bottom: 10px;
}

#homenav{
    border-bottom: 2px solid rgb(141, 42, 239);
}

 nav ul li:hover {
   border-bottom: 1px solid rgb(141, 42, 239);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

#nav2{
    display: none;
    position: relative;
    right: 22px;
}

#menu{
    width: 25px;
    height: 23px;
}

#back{
    display: none;
    width: 32px;
    height: 27px;
}

                                    /* Introduction */

.intro{
    max-width: 100%;
    background-color: #151f32;
    height: 65vh;
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 10rem;
    margin-bottom: 1%;
}

.intro h1{
    color: greenyellow;
    font-size: 4rem;
}

.line{
     font-size: 1rem;
}

.intro p{
     color: #c6c6c6;
}

                                         /* Resume */

.CV{
    width: 5rem; height: 4%;
    position: absolute;
    top: 1rem;
    left: 1rem;
    position: fixed;
    background-color: rgb(100, 0, 182);
    color:white;
    border-radius: 3000px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}

.CV p{
     color: #dedede;
}

.CV:hover{
    font-size: 110%;
    width: 10%;
    height: 5%;
}

                                         /* Sidebar */

#sidebar{
    position: absolute;
    top: 3.7rem;
    right: 0px;
    position: fixed;
    width: 60%;
    height: 100%;
    background-color: #ffffff;
    padding: 1rem;
    
    display: none;
}

#p11{
    text-align: center;
    width: 50%;
    background-color:#141a26;
    color: #ffffff !important;
    border-radius: 20px;
    margin: auto !important;
}
 
#sidebar p{
    margin: 13%;
    font-size: 120%;
    color: #141a26;
}

#sidebar div{
    width: 100%;
    height: 50%;
    background-color: #ffffff;
}

#sidebar a{
   text-decoration: none;
}

                                           /* About */

#about{
    max-width: 100%; height: 60vh;
    background-color: #ffffff;
    padding: 1%;
    display: block;
}

.about{
       padding-left: 2%;
       margin: auto;
       max-width: 80%; height: 55vh;
       box-shadow: 2px 2px 2px 2px #101623;
       background-color: #f6f5f5;
       overflow-x: hidden;
       overflow-y: auto;
  }

  .about h1{
     text-align: center;
     font-size: 190%;
  }

  .about img{
      width: 12rem 0; height: 85%;
      float: left;
  }

  .about p{
    font-size: 120%;
    padding-top: 4%; padding-left: 41%;
  }

                                            /* Skills */

#skills
{
    max-width: 100%; height: fit-content;
    background-color: rgb(255, 255, 255);
    padding-top: 6%; padding-bottom: 0%;padding-left: 2%; padding-right: 2%;
}

#sk{
   text-align: end;
   padding-right: 25%;
   font-size: 200%;
} 

.skill h1{
    text-align:center;
    font-size: 100%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 15%;
}

 .skills{
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    padding-left: 10%; padding-right: 10%; padding-bottom: 4%; padding-top: 5%;
    display: flex; flex-wrap: wrap; flex-direction: row; justify-content:space-around; align-items: center;
    }

 .skill{
        width: 25%; height: 8vh;
        background-color: #ffffff;
        margin: 3.5%;
        text-align: center;
       }  
  
.skill div{
    width: 100%; height: 4vh;
    background-color: rgba(45, 45, 45, 0.365);
    border-radius: 20px;
    padding: 0px; margin: 0px;
    box-shadow: 2px 2px 1px 1px grey;
}

.skill div div{
    width: 80%; height: 4vh;
    border-radius: 20px;
    border-top-right-radius: 0px; border-bottom-right-radius: 0px;
    border-radius: 20px;
}

#d1{
    background-color: rgb(157, 44, 199);
    width: 80%;
}

#d2{
    background-color: aqua;
    width: 55%;
}

#d3{
    background-color: orangered;
    width: 40%;
}

#d4{
    background-color: greenyellow;
    width: 40%;
}

#d5{
    background-color:rgb(0, 115, 255);
    width: 40%;
}


#d6{
    background-color:yellow;
    width: 40%;
}

#d7{
    background-color:rgb(255, 0, 149);
    width: 40%;
}

#d8{
    background-color:pink;
    width: 40%;
}

                                                /* Projects */

#projects{
   max-width: 100%; height: 105vh;
   background-color: #ffffff;
   padding: 5%;
}

.projects{
    box-shadow: 2px 10px 10px 0px #151f32;
    border-radius: 15px;
       max-width: 100%;
       height:fit-content ;
       background-image: linear-gradient(to bottom,white, #f5f5f5 );
       padding: 0px;
       display: flex; flex-direction: row;flex-wrap: wrap;
       justify-content:space-evenly; align-items: center;
   }

.projects p{
     text-align: center;
   }

.project{
    width: 17rem; height: 30vh;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px rgb(169, 204, 232);
    margin: 3%;
}

.project div{
          width: 100%; height: 20vh;
          background-color: #141a26;
          display: flex;
          justify-content: center; align-items: center;

}  

#projects h1{
        padding-left: 6%; padding-top: 0%;
        font-size: 170%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#p1 img{
    width: 100%;
    height:25vh;
}

#p1 p{
   padding-top: 10%;
}

#p1 a{
    text-decoration: none;
    color: black;
}


#p2 img{
    width: 100%;
    height:auto;
}

#p2 p{
    padding-top: 10%;
}

#p2 a{
    text-decoration: none;
    color: black;
}


#p3 img{
    width: 100%;
    height:auto;
}

#p3 p{
    padding-top: 10%;
}

#p3 a{
    text-decoration: none;
    color: black;
}

#p4 img{
    width: 100%;
    height:auto;
}

#p4 p{
    padding-top: 10%;
}

#p4 a{
    text-decoration: none;
    color: black;
}

#p5 img{
    width: 20px; height: 20px;
}

#p5 p{
    padding-top: 10%;
}

#p5 a{
    text-decoration: none;
    color: black;
}


                                               /* Contact */

#contact{
    max-width: 100%; height: 60vh;
    background-image: linear-gradient(to right, white, #151f32);
    padding:1%;
    display: flex;
    justify-content: left; align-items: center;
}

#c1,#c2{
  width: 50%; height: 55vh;
  background-image: linear-gradient(to right,white, #151f32);
  margin: 0.3%;
  display: block;
}

video{
    width: 100%; height:55vh;
}

#c2{
    padding-top: 1%; padding-left: 2%;
}

#c2 h1{
   font-size: 190%;
}

.c2a{
    width: 90%;
    height: 45vh;
    background-image: linear-gradient(to right,white, #151f32);
    padding-left: 12%;
    padding-top: 1%;
}

input{
    margin-bottom: 3%;
    width: 80%;
    height: 4vh;
}

#msg{
    height: 10vh;
}

#submit{
    border-radius: 20px;
    background-color: #151f32;
    color: white;
}

                                                     /* Footer */

footer{
    max-width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222428;
    color: rgb(193, 193, 193);
}

footer img{
        width: 35px;
        height: 35px;
        margin: 2.5%;
}

footer a{
        margin: 2.5%;
}


 .l{
    width: 40px;
    height: 40px;
}


.c{
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}


                                                /* Responsive Design */


@media (max-width: 1024px) {

    .intro h1{
       font-size: 330%;
    }

    .about p{
        font-size: 105%;
    }

    .about img{
        width:310px;
        height: 270px;
      }

}

                                                        /* 768 */

@media (max-width: 768px) {

    #nav1 {
        display: none;
    }

    #nav2{
        display: block;
    }

    .CV {
        display: none;
    }

    .about{
        width: 85%;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
    }

    .intro h1{
      font-size:250%;
    }

    #about{
        height: fit-content;
    }

    .about{
        height: fit-content;
    }

   .about img{
        float: none !important;
        margin: auto;
        width: 240px;
        height: 210px;
      }

    .about p{
        font-size: 100%;
        padding-top: 1%; padding-left: 1%;
      }

}

                                                 /* 700px */ 

@media (max-width: 700px) {

    .CV{
       top: 1.2rem;
       width: 4rem;
       height: 3.5%;
    }

    .c2a{
        height: fit-content;
    }

  #c1,#c2{
        width: 100%; height: fit-content;
        margin: 0px;
        padding: 0px;
      }

#contact{
    flex-direction: column;
    justify-content: center;
    height: 110vh;
    margin: 0%;
    padding: 0%;
    align-items: flex-start;
    }

    input{
       width: 95%;
    }
  
}

                                                    /* 600px */


@media (max-width: 600px) {

    .intro{
        height: 56vh;
    }
    .project div img{
        width: 20px; height: 20px;
    }

}

                                                  /* 430px */

@media (max-width: 430px) {
      
    .intro{
        padding-top: 12rem;
    }

    .CV{
        width: 3.5rem;
     }

    .intro h1{
        font-size: 210%;
    }

    .intro p{
        font-size: 90%;
    }

    #sk{
        font-size: 160%;
    }

    #skill h1{
        font-size:90% ;
    }

    .skills{
        justify-content: center;
        height: fit-content;
    }

    #sk{
        margin-top: 2%;
    }

    .skill{
        width: 90%;
        margin: auto;
    }

    #skills{
        height: fit-content;
    }

    .skill div{
        height: 3vh;
    }
    
    .skill div div{
        height: 3vh;
    }

    .projects{
           height:85vh ;
           background-image: linear-gradient(to bottom,white, #f5f5f5 );
           padding: 0px;
           display: flex; flex-direction: column; flex-wrap: nowrap;
           justify-content: center;
           overflow-y: auto;
       }

      #projects{
        margin-bottom: 0%;
    }

       .project{
        width: 75%;
        height: 28vh;
        background-image: linear-gradient(to bottom,white, #f5f5f5 );
        padding: 0px;
        display: flex; flex-direction: column; flex-wrap: nowrap;
        padding-bottom: 0%;
    }


   .projects{
    height: fit-content;
   }
   #projects{
    height: fit-content;
   }

   #p1 p{
     padding-top: 6%;
   }

   #p2 p{
    padding-top: 6%;
  }

  #p3 p{
    padding-top: 6%;
  }

  #p4 p{
    padding-top: 6%;
  }


    #contact{
        height:fit-content;
    }

    #contact h1{
        text-align: center;
        font-size: 170%;
        margin-bottom: 5%;
    }

    #c2{
        padding-top: 1%;
    }

    #c1{
        display: none;
    }

    footer img{
        width: 29px;
        height: 27px;
        margin: 3%;
}

footer p{
    font-size: 85%;
}

}
                                             /* 400px */

@media (max-width: 400px) {
   
}
                                            /* 320px */

@media (max-width: 320px) {
    .intro h1{
        font-size: 190%;
    }
    .intro p{
        font-size: 85%;
    }
}
